/* Properties and Global Reset ***********************************************/
:root {
  --main-color: #e67e22;
  --focus-color: #228be6;
  --grey-color: #75726f;
  --border-radius: 0.5rem;
  --transition-function: ease;
  --transition-fast: 200ms var(--transition-function);
  --transition-normal: 300ms var(--transition-function);
  --transition-slow: 500ms var(--transition-function);
  --shadow-xs: 0 0 0.4rem rgba(0 0 0 / 0.08);
  --shadow-s: 0 0 0.625rem rgba(0 0 0 / 0.09);
  --shadow-m: 0 0 1rem rgba(0 0 0 / 0.1);
  --shadow-l: 0 0 1.6rem rgba(0 0 0 / 0.11);
  --shadow-xl: 0 0 2.5rem rgba(0 0 0 / 0.12);

  --main-color--tint90: #fdf2e9;
  --main-color--tint80: #fae5d3;
  --main-color--tint70: #f8d8bd;
  --main-color--tint60: #f5cba7;
  --main-color--tint50: #f3bf91;
  --main-color--tint40: #f0b27a;
  --main-color--tint30: #eea564;
  --main-color--tint20: #eb984e;
  --main-color--tint10: #e98b38;
  --main-color--normal: #e67e22;
  --main-color--shade10: #cf711f;
  --main-color--shade20: #b8651b;
  --main-color--shade30: #a15818;
  --main-color--shade40: #8a4c14;
  --main-color--shade50: #733f11;
  --main-color--shade60: #5c320e;
  --main-color--shade70: #45260a;
  --main-color--shade80: #2e1907;
  --main-color--shade90: #170d03;

  --main-color--brightester: var(--main-color--tint80);
  --main-color--brightest: var(--main-color--tint60);
  --main-color--brighter: var(--main-color--tint40);
  --main-color--bright: var(--main-color--tint20);
  --main-color--dark: var(--main-color--shade20);
  --main-color--darker: var(--main-color--shade40);
  --main-color--darkest: var(--main-color--shade60);
  --main-color--darkester: var(--main-color--shade80);

  --text-color--brightester: hsla(0, 0%, 40%, 1);
  --text-color--brightest: hsla(0, 0%, 35%, 1);
  --text-color--brighter: hsla(0, 0%, 30%, 1);
  --text-color--bright: hsla(0, 0%, 25%, 1);
  --text-color: hsla(0, 0%, 20%, 1);
  --text-color--dark: hsla(0, 0%, 15%, 1);
  --text-color--darker: hsla(0, 0%, 10%, 1);
  --text-color--darkest: hsla(0, 0%, 5%, 1);
  --text-color--darkester: hsla(0, 0%, 0%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: 'Rubik';
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

/* Reset *********************************************************************/
html {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  word-spacing: 0;

  .list {
    list-style: none;
  }

  .button,
  .anchor:link,
  .anchor:visited {
    font-family: inherit;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    border: unset;
    color: inherit;
    background: unset;
    cursor: pointer;
  }

  .image {
    display: block;
  }
}

/* Common Styles *************************************************************/
html {
  /* Focusable */
  .focusable,
  .focusable-container,
  .outline-on-focus {
    outline: solid max(0.125rem, 2px) transparent;
    outline-offset: max(0.25rem, 4px);
    transition: all var(--transition-normal);

    &:is(.focusable-container) {
      outline-offset: max(1rem, 16px);
    }

    &:is(.focusable):focus-visible,
    &:is(.focusable-container):focus-visible,
    &:is(.focusable-container):focus-within:has(.outline-on-focus) {
      outline-offset: max(0.125rem, 2px);
      &:is(.focusable-container) {
        outline-offset: max(0.5rem, 8px);
      }
    }
  }

  /* Buttons and Links*/
  .anchor {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      text-decoration: none;
      padding-bottom: max(2px, 0.128em);
      border-bottom: solid max(2px, 0.128em) currentColor;
      color: var(--main-color);
    }

    &:hover,
    &:active {
      color: var(--main-color--dark);
    }
    &:focus-visible {
      outline-color: currentColor;
    }

    &.--de-emphasized {
      &:link,
      &:visited {
        color: var(--text-color);
      }

      &:hover,
      &:active {
        color: var(--main-color--dark);
      }
    }

    transition: all var(--transition-normal);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.8em 1.6em;
    border-radius: var(--border-radius);
    color: #fff;
    background: var(--main-color);
    box-shadow: var(--shadow-xs);
    transition: all var(--transition-normal);

    &:hover,
    &:active {
      background: var(--main-color--bright);
    }
    &:focus-visible {
      outline-color: var(--main-color);
    }

    &.--de-emphasized {
      color: var(--main-color--brightester);
      background: var(--text-color);

      &:hover,
      &:active {
        background: var(--text-color--bright);
      }
      &:focus-visible {
        outline-color: var(--text-color);
      }
    }
  }

  /* Section Header */
  .section-header {
    .text {
      font-size: 1.25em;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0.5em;
      color: var(--main-color--dark);
    }

    .headline {
      font-size: 2.5em;
      margin-bottom: 1em;
    }
  }

  /* Content */
  .title,
  .headline {
    font-size: 1.5em;
    font-weight: 600;
  }

  .text {
    font-size: 1em;
    font-weight: 400;
  }

  .strong {
    font-weight: 600;
  }

  .icon-css {
    box-sizing: content-box;
    display: block;
    height: 1em;
    aspect-ratio: 1;
    fill: currentColor;
  }

  /* List of icon-text properties within cards */
  .properties {
    font-size: 1em;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 1.6em;

    .property {
      font-size: 1em;
      display: flex;
      align-items: center;
      gap: 0.5em;

      .icon-css {
        font-size: 1.6em;
        color: var(--main-color);
      }

      .bold {
        font-weight: 600;
      }
    }
  }

  /* Card */
  .card {
    font-size: 1em;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-m);
    transition: all var(--transition-slow);

    &:hover {
      box-shadow: var(--shadow-l);
    }
  }

  /* Tags */
  .tags {
    display: flex;
    gap: 0.5em;

    .tag {
      padding: 0.25em 0.75em;
      border-radius: 10em;
      background: var(--text-color--brightest);
      color: #fff;
    }
  }

  /* Form */
  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .label {
      font-size: 1.125em;
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    .input {
      font-size: 1em;
      font-family: inherit;
      font-weight: 400;

      padding-block: 0.75em;
      padding-inline: 0.75em;
      border-radius: var(--border-radius);
      border: none;
      box-shadow: var(--shadow-xs);

      transition: all var(--transition-normal);
    }

    .button {
      font-size: 1.125em;
      padding: 0.75em 1.5em;
      text-align: center;
    }
  }
}
