/* @import url(./common.css); */

/* Sections ******************************************************************/
html {
  .section-padding {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
  }

  .section-width {
    max-width: 1280px;

    &.navbar {
      max-width: 1920px;
    }
    &.hero {
      max-width: 1440px;
    }
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  /* Webpage Component Modifications */
  .navbar-section-container {
    font-size: 1rem;
    background: var(--main-color--brightester);

    .section-padding {
      padding-top: calc(var(--section-padding) / 2);
      padding-bottom: calc(var(--section-padding) / 2);
    }

    &.sticky {
      position: sticky;
      z-index: 1;
      top: 0;
      width: 100%;
      background: #fff;
      box-shadow: var(--shadow-m);
    }
  }

  .hero-section-container {
    font-size: 1rem;
    background: var(--main-color--brightester);
    margin-bottom: 2rem;

    .section-padding {
      padding-top: var(--section-padding);
      padding-bottom: calc(var(--section-padding) * 2);
    }
  }

  .featured-in-section-container {
    font-size: 1rem;
    margin-bottom: 16rem;
  }

  .how-it-works-section-container {
    font-size: 1rem;
    margin-bottom: 16rem;
  }

  .meals-section-container {
    font-size: 1rem;
    margin-bottom: 16rem;
  }

  .testimonials-and-gallery-section-container {
    font-size: 1rem;
    margin-bottom: 16rem;
    background-color: var(--main-color--brightester);

    .section-width {
      max-width: 200vh;
    }

    .section-padding {
      padding: 0;
    }
  }

  .pricing-and-features-section-container {
    font-size: 1rem;
    margin-bottom: 16rem;
  }
}

/* Navbar Component **********************************************************/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .image {
    height: 1.5em;
  }

  .buttons {
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.5em;

    .anchor:link,
    .anchor:visited {
      border: unset;
    }

    .button {
      margin-left: 0.5em;
    }
  }
}

/* Hero Component ************************************************************/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4em;

  .text-container {
    .headline {
      font-size: 3.2em;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 0.75em;
    }

    .text {
      font-size: 1.25em;
      line-height: 1.6;
      margin-bottom: 4em;
    }

    .buttons {
      font-size: 1.25em;
      line-height: 1.6;
      font-weight: 600;
      display: flex;
      gap: 1em;
      margin-bottom: 2em;
    }

    .statistic-container {
      font-size: 1em;
      display: flex;
      gap: 1em;
      align-items: center;

      .customers {
        font-size: 2.5em;
        display: flex;

        .image-container {
          display: flex;

          &:not(&:last-child) {
            margin-right: -0.5em;
          }

          .image {
            height: 1em;
            border-radius: 50%;
            border: solid max(2px, 0.0625em) var(--main-color--brightester);
          }
        }
      }

      .statistic {
        font-weight: 600;
        color: var(--text-color);

        .strong {
          color: var(--main-color--dark);
        }
      }
    }
  }

  .image-container {
    .image {
      max-width: 100%;
    }
  }
}

/* Featured In Component *****************************************************/
.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-header {
    .text {
      color: var(--text-color);
      margin-bottom: 1em;
    }
  }

  .logos {
    font-size: 1.6em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    max-width: 100%;
    overflow-x: auto;
    gap: 2em;

    .image {
      height: 1em;
      filter: brightness(0%);
      opacity: 1;
    }
  }
}

/* How It Works Component ****************************************************/
.how-it-works {
  .steps {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 10em;

    .step {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 4em;

      .text-container {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        .number {
          font-size: 4em;
          font-weight: 600;
          margin-bottom: 0.2em;
        }

        .title {
          margin-bottom: 1.25em;
        }

        .text {
          line-height: 2;
        }
      }

      .image-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: center;
        font-size: 32em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        .image {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          max-width: 200%;
          max-height: 1em;
        }

        &::before,
        &::after {
          grid-row: 1 / -1;
          grid-column: 1 / -1;
          content: '';
          display: block;
          aspect-ratio: 1;
          border-radius: 50%;
        }
        &::before {
          z-index: -1;
          width: min(0.75em, 75%);
          max-height: 75%;
          background: var(--main-color--brightest);
        }
        &::after {
          z-index: -2;
          width: min(1em, 100%);
          max-height: 100%;
          background: var(--main-color--brightester);
        }
      }

      &.--reversed {
        .text-container {
          grid-column: 2 / 3;
        }

        .image-container {
          grid-column: 1 / 2;
        }
      }
    }
  }
}

/* Meals Component ***********************************************************/
.meals {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    margin-bottom: 4em;
  }

  .card.--meal {
    .image {
      max-width: 100%;
    }

    .text-container {
      padding: 3em 2em 4em;

      .tags {
        margin-bottom: 1em;
      }

      .title {
        margin-bottom: 1.5em;
      }
    }

    &:hover {
      translate: 0 -0.5em;
    }
  }

  .card.--diets {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: unset;
    box-shadow: unset;

    .title {
      font-size: 2em;
      margin-bottom: 1em;
    }

    .properties {
      font-size: 1.125em;
    }
  }

  .link-container {
    font-size: 1.125em;
    display: flex;
    justify-content: center;
  }
}

/* Testimonials and Gallery Component ****************************************/
.testimonials-and-gallery {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;

  .testimonials-container {
    padding: 4em;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
    row-gap: 6em;

    .testimonial {
      .image {
        height: 4em;
        border-radius: 50%;
        margin-bottom: 0.75em;
      }

      .text {
        line-height: 2;
        margin-bottom: 0.5em;
      }

      .commentator {
        font-size: 0.875em;

        &.description {
          margin-bottom: 0;
        }
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5em 0.5em 0.5em 0;
    gap: 0.5em;

    .image-container {
      overflow: hidden;
      box-shadow: var(--shadow-xs);
      transition: box-shadow calc(var(--transition-duration) * 2)
        var(--transition-function);

      .image {
        width: 100%;
        transition: scale calc(var(--transition-duration) * 2)
            var(--transition-function),
          filter calc(var(--transition-duration) * 2) var(--transition-function);
      }

      &:hover {
        box-shadow: var(--shadow-m);

        .image {
          scale: 1.0625;
          filter: contrast(1.04) saturate(1.04);
        }
      }
    }
  }
}

/* Pricing and Features Component ********************************************/
.pricing-and-features {
  .cards {
    display: grid;
    justify-items: center;
    gap: 4em;
  }

  .card {
    display: flex;
    flex-direction: column;

    &:first-child {
      justify-self: end;
    }
    &:last-child {
      justify-self: start;
    }
  }

  .cards.--pricing {
    grid-template-columns: repeat(2, auto);
    margin-bottom: 2em;
  }

  .card.--pricing {
    align-items: center;
    padding: 4em;
    position: relative;

    .title {
      font-size: 1.125em;
      text-transform: uppercase;
      color: var(--main-color--dark);
      margin-bottom: 2em;
    }

    .price {
      font-size: 3.2em;
      font-weight: 600;
      margin-bottom: 0.25em;

      .smaller {
        font-size: 0.75em;
      }
    }

    .text {
      font-size: 1em;
      margin-bottom: 2em;
    }

    .properties {
      font-size: 1.125em;
      margin-bottom: 2em;
    }

    .button {
      font-size: 1.125em;
    }

    &.--emphasized {
      background: var(--main-color--brightester);

      &::before {
        content: 'Best Value';
        display: inline-block;
        position: absolute;
        top: 0;
        right: -50%;
        rotate: 45deg;
        translate: -12.5% 100%;

        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 0.5em 0;
        color: var(--main-color--brightester);
        background: var(--main-color);
      }
    }
  }

  .pricing-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    margin-bottom: 4em;
  }

  .cards.--features {
    grid-template-columns: repeat(4, auto);
  }

  .card.--feature {
    box-shadow: unset;
    overflow: visible;

    .icon-css {
      font-size: 2em;
      padding: 0.5em;
      border-radius: 50%;
      overflow: visible;
      margin-bottom: 1em;
      color: var(--main-color);
      background: var(--main-color--brightester);
    }

    .title {
      margin-bottom: 0.5em;
    }

    .text {
      line-height: 2;
    }
  }
}
