/* @import url(./common.css); */

/* Sections ******************************************************************/
html {
  --horizontal-spacing: calc(var(--_horizontal-spacing) / 4 * 4);
  --horizontal-padding: calc(var(--_horizontal-spacing) / 4 * 4);
  --vertical-spacing: calc(var(--_vertical-spacing) / 4 * 4);

  /* Center */
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .center-contents,
  .--center-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Horizontal Spacing */
  .page-section.--horizontal-spacing {
    max-width: var(--max-width--laptop1);
    padding-left: calc(var(--horizontal-padding) * 1);
    padding-right: calc(var(--horizontal-padding) * 1);

    /* Max width */
    &.navbar,
    &.testimonials-and-gallery,
    &.page-footer {
      max-width: var(--max-width--laptop3);
    }

    &.hero,
    &.call-to-action {
      max-width: var(--max-width--laptop2);
    }

    /* Padding */
    &.featured-in,
    &.testimonials-and-gallery,
    &.call-to-action {
      padding-left: calc(var(--horizontal-padding) * 0);
      padding-right: calc(var(--horizontal-padding) * 0);
    }

    &.call-to-action {
      margin-left: calc(var(--horizontal-padding) * 1);
      margin-right: calc(var(--horizontal-padding) * 1);
    }
  }

  /* Verical Spacing */
  .page-section-container.--vertical-spacing {
    .page-section {
      padding-top: calc(var(--vertical-spacing) * 1);
      padding-bottom: calc(var(--vertical-spacing) * 1);
    }

    &:has(.navbar) {
      .page-section {
        padding-top: calc(var(--vertical-spacing) * 0.5);
        padding-bottom: calc(var(--vertical-spacing) * 0.5);
      }
    }

    &:has(.hero) {
      .page-section {
        padding-top: calc(var(--vertical-spacing) * 0.5);
        padding-bottom: calc(var(--vertical-spacing) * 2);
      }
    }

    &:has(.featured-in) {
      .page-section {
        padding-top: calc(var(--vertical-spacing) * 0.5);
        padding-bottom: calc(var(--vertical-spacing) * 1);
      }

      margin-bottom: calc(var(--vertical-spacing) * 2);
      border-bottom: solid 1px var(--grey-color--tint90);
    }

    &:has(.how-it-works) {
      margin-bottom: calc(var(--vertical-spacing) * 3);
    }

    &:has(.meals) {
      margin-bottom: calc(var(--vertical-spacing) * 2.5);
    }

    &:has(.testimonials-and-gallery) {
      .page-section {
        padding-top: 0;
        padding-bottom: 0;
      }

      margin-bottom: calc(var(--vertical-spacing) * 1.5);
    }

    &:has(.pricing-and-features) {
      margin-bottom: calc(var(--vertical-spacing) * 2);
    }

    &:has(.call-to-action) {
      .page-section {
        padding-top: 0;
        padding-bottom: 0;
      }

      border-bottom: solid max(0.0625rem, 1px) var(--grey-color--tint90);
      padding-bottom: calc(var(--vertical-spacing) * 2);
    }

    &:has(.page-footer) {
      .page-section {
        padding-top: calc(var(--vertical-spacing) * 2);
        padding-bottom: calc(var(--vertical-spacing) * 1);
      }
    }
  }

  /* Section-Container and Section Modification */
  .page-section-container {
    /* border-top: solid 2px rgba(172, 255, 47, 0.533);
    border-bottom: solid 2px rgba(255, 68, 0, 0.531); */

    &:has(.navbar),
    &:has(.hero),
    &:has(.testimonials-and-gallery) {
      background-color: var(--main-color--tint90);
    }

    &:has(.navbar).--sticky {
      .page-section {
        padding-top: calc(var(--horizontal-spacing) * 0.4);
        padding-bottom: calc(var(--horizontal-spacing) * 0.4);
      }

      position: sticky;
      z-index: 10;
      top: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: var(--shadow-m);

      .buttons {
        background-color: #fff;
      }
    }
  }
}

/* Navbar Component **********************************************************/
.navbar {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;

  .anchor:link,
  .anchor:visited {
    border-bottom: unset;
  }

  .image-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
    .image {
      height: 1.6em;
    }

    &.focusable-container:focus-visible {
      outline-color: transparent;

      .outline-on-focus {
        outline-color: var(--main-color);
      }
    }
  }

  .nav-buttons-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: all var(--transition-normal);
  }

  .buttons.menu-buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all var(--transition-normal);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .button-container {
      grid-area: 1 / 1 / 2 / 2;
      transition: all var(--transition-normal);

      &.--open-menu {
        z-index: 0;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }

      &.--close-menu {
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }

      .button {
        padding: 0em;
        color: var(--text-color);
        background-color: transparent;
        box-shadow: unset;

        .icon-css {
          font-size: 2.5em;
        }

        &:hover,
        &:active {
          color: var(--text-color--bright);
        }
      }
    }
  }

  .buttons {
    font-size: 1.25em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: calc(var(--horizontal-spacing) * 0.5);

    .anchor:link,
    .anchor:visited {
      border: unset;
    }

    .button {
      margin-left: 0.5em;
    }
  }
}

/* Hero Component ************************************************************/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: calc(var(--horizontal-spacing) * 1);

  .text-container {
    .headline {
      font-size: 4em;
      line-height: 1;
      letter-spacing: -0.04ch;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    .text {
      font-size: 1.6em;
      letter-spacing: -0.01ch;
      line-height: 1.6;
      margin-bottom: 3.2em;
    }

    .buttons {
      font-size: 1.6em;
      line-height: 1.6;
      font-weight: 600;
      display: flex;
      gap: 1em;
      margin-bottom: 2em;
    }

    .statistic-container {
      font-size: 1.25em;
      display: flex;
      gap: 0.8em;
      align-items: center;

      .customers {
        font-size: 2em;
        display: flex;

        .image-container {
          display: flex;

          &:not(&:last-child) {
            margin-right: -1em;
          }

          .image {
            max-height: 1.6em;
            border-radius: 50%;
            border: solid max(2px, 0.0625em) var(--main-color--tint90);
          }
        }
      }

      .statistic {
        font-size: 1em;
        font-weight: 600;

        .strong {
          color: var(--text-color--main-color--brightester);
        }
      }
    }
  }

  .image-container {
    .image {
      max-width: 100%;
    }
  }
}

/* Featured In Component *****************************************************/
.featured-in {
  width: 100%;
  display: flex;
  flex-direction: column;

  .section-header {
    align-self: center;
    .text {
      font-size: 1em;
      color: rgba(25 25 24 / 0.6);
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .logos {
    font-size: 2em;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    overflow-x: auto;

    .image {
      max-height: 1em;
      filter: brightness(0%);
      opacity: 0.5;
    }
  }
}

/* How It Works Component ****************************************************/
.how-it-works {
  .steps {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 8em;

    .step {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: calc(var(--horizontal-spacing) * 1);

      .text-container {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        .number {
          font-size: 5em;
          font-weight: 600;
          letter-spacing: -0.05ch;
          margin-bottom: 0.1em;
          color: var(--text-color--brightest);
        }

        .title {
          margin-bottom: 1.25em;
        }

        .text {
          line-height: 2;
        }
      }

      .image-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: center;
        font-size: 32em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        .image {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          max-width: 200%;
          max-height: 1em;
        }

        &::before,
        &::after {
          grid-row: 1 / -1;
          grid-column: 1 / -1;
          content: '';
          display: block;
          aspect-ratio: 1;
          border-radius: 50%;
        }
        &::before {
          z-index: -1;
          width: min(0.75em, 75%);
          max-height: 75%;
          background: var(--main-color--tint80);
        }
        &::after {
          z-index: -2;
          width: min(1em, 100%);
          max-height: 100%;
          background: var(--main-color--tint90);
        }
      }

      &.--reversed {
        .text-container {
          grid-column: 2 / 3;
        }

        .image-container {
          grid-column: 1 / 2;
        }
      }
    }
  }
}

/* Meals Component ***********************************************************/
.meals {
  .--center-contents {
    .text,
    .headline {
      text-align: center;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(var(--horizontal-spacing) * 1);
    row-gap: 3.2em;
    margin-bottom: 3em;
  }

  .card.--meal {
    .image {
      max-width: 100%;
    }

    .text-container {
      padding: 2.5em 2em 4em;

      .tags {
        margin-bottom: 0.75em;
      }

      .title {
        margin-bottom: 1.5em;
      }

      .properties {
        font-size: 1.125em;
      }
    }

    &:hover {
      translate: 0 -0.25em;
    }
  }

  .card.--diets {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: unset;
    box-shadow: unset;

    .title {
      font-size: 2em;
      letter-spacing: -0.02ch;
      margin-bottom: 1em;
    }

    .properties {
      font-size: 1.25em;
    }
  }

  .link-container {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
  }
}

/* Testimonials and Gallery Component ****************************************/
.testimonials-and-gallery {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  align-items: center;

  .testimonials-container {
    padding: 4em calc(var(--horizontal-padding) * 1);
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(var(--horizontal-spacing) * 1);
    row-gap: 6em;

    .testimonial {
      .image {
        height: 4em;
        border-radius: 50%;
        margin-bottom: 0.75em;
      }

      .text {
        line-height: 2;
        margin-bottom: 0.5em;
      }

      .commentator {
        font-size: 1em;
        color: var(--text-color--brighter);
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: calc(var(--horizontal-spacing) * 0.25);
    padding-right: calc(var(--horizontal-spacing) * 0.25);
    padding-bottom: calc(var(--horizontal-spacing) * 0.25);
    gap: calc(var(--horizontal-spacing) * 0.25);

    .image-container {
      overflow: hidden;
      box-shadow: var(--shadow-xs);
      transition: all var(--transition-slow);

      .image {
        width: 100%;
        transition: all var(--transition-slow);
      }

      &:hover {
        box-shadow: var(--shadow-m);

        .image {
          scale: 1.0625;
          filter: contrast(1.04) saturate(1.04);
        }
      }
    }
  }
}

/* Pricing and Features Component ********************************************/
.pricing-and-features {
  .center-contents {
    .text,
    .headline {
      text-align: center;
    }
  }

  .cards {
    display: grid;
    justify-items: center;
    gap: calc(var(--horizontal-spacing) * 1);
  }

  .card {
    display: flex;
    flex-direction: column;

    &:first-child {
      justify-self: end;
    }
    &:last-child {
      justify-self: start;
    }
  }

  .cards.--pricing {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2em;
  }

  .card.--pricing {
    align-items: center;
    padding: 3.2em;
    position: relative;

    .title {
      font-size: 1.125em;
      text-transform: uppercase;
      color: var(--text-color--main-color--brightester);
      margin-bottom: 2em;
    }

    .price {
      font-size: 3.2em;
      font-weight: 600;
      letter-spacing: -0.03ch;
      margin-bottom: 0.25em;
      color: var(--text-color--darker);

      .smaller {
        font-size: 0.75em;
      }
    }

    .text {
      font-size: 1em;
      margin-bottom: 2em;
    }

    .properties {
      font-size: 1.125em;
      margin-bottom: 2em;

      .bold {
        color: var(--text-color--darker);
      }
    }

    .button {
      font-size: 1.125em;
    }

    &.--emphasized {
      background: var(--main-color--tint90);

      &::before {
        content: 'Best Value';
        display: inline-block;
        position: absolute;
        top: 0;
        right: -50%;
        rotate: 45deg;
        translate: -12.5% 100%;

        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 0.5em 0;
        color: var(--main-color--tint90);
        background: var(--main-color);
      }
    }

    &:hover {
      translate: 0 -0.25em;
    }
  }

  .pricing-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    margin-bottom: 5em;
    color: var(--text-color--bright);
  }

  .cards.--features {
    grid-template-columns: repeat(4, 1fr);
  }

  .card.--feature {
    box-shadow: unset;
    translate: unset;
    overflow: visible;

    .icon-css {
      font-size: 2em;
      padding: 0.5em;
      border-radius: 50%;
      overflow: visible;
      margin-bottom: 1em;
      color: var(--main-color);
      background: var(--main-color--tint90);
    }

    .title {
      margin-bottom: 0.5em;
    }

    .text {
      line-height: 2;
    }
  }
}

/* Call to Action Component **************************************************/
.call-to-action {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  background-color: var(--main-color);
  background: linear-gradient(
    to right bottom,
    var(--main-color--tint10),
    var(--main-color)
  );

  .text-container {
    padding: 4em calc(var(--horizontal-spacing) * 1);
    color: var(--text-color--main-color--darker);

    .section-header {
      .headline {
        font-size: 3.2em;
        letter-spacing: -0.03ch;
        font-weight: 700;
        margin-bottom: 1em;
        color: inherit;
      }

      .text {
        font-size: 1.6em;
        letter-spacing: -0.01ch;
        line-height: 1.6;
        font-weight: 400;
        text-transform: unset;
        margin-bottom: 4em;
        color: inherit;
      }
    }

    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: calc(var(--horizontal-spacing) * 1);
      row-gap: 1.5em;

      .form-field {
        .input {
          color: var(--text-color--main-color);
          background: var(--main-color--tint90);

          &::placeholder {
            color: var(--text-color--main-color--brighter);
          }

          &:focus-visible {
            outline-color: var(--main-color--tint90);
          }
        }

        .button {
          color: var(--main-color--tint90);
          background: var(--text-color--main-color--darker);

          &:hover {
            background: var(--text-color--main-color--dark);
          }

          &:focus-within {
            outline-color: var(--text-color--main-color--dark);
          }
        }
      }
    }
  }

  .image-background {
    background-image: url(../content/img/eating.jpg);
    background-size: cover;
    background-position: center;
    opacity: 75%;
    filter: saturate(1.2) contrast(0.8);
  }
}

/* Footer Component **********************************************************/
.page-footer {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
  justify-items: start;
  column-gap: calc(var(--horizontal-spacing) * 1);
  row-gap: calc(var(--horizontal-spacing) * 1.5);

  .footer-column {
    display: flex;
    flex-direction: column;

    .anchor:link,
    .anchor:visited {
      text-transform: unset;
      justify-content: start;
      border-bottom: unset;
    }

    .title {
      font-size: 1.125em;
      line-height: 1;
      min-height: 2.4em;
    }

    .text,
    .link {
      font-size: 1em;
      line-height: 2;
      color: var(--text-color);
    }

    &.--logo-socials-copyright {
      .focusable-container:focus-visible {
        outline-color: transparent;

        .outline-on-focus {
          outline-color: currentColor;
        }
      }

      .image-container {
        height: 2.7em;
        align-items: unset;

        .image {
          max-height: 1.125em;
        }
      }

      .socials {
        display: flex;
        gap: 1em;

        .icon-css {
          font-size: 1.5em;
          padding: 0.125em 0;
          color: var(--text-color);
        }
      }

      .text {
        margin-top: auto;
        font-size: 0.8em;
      }
    }

    &.--title-contact-information {
      .text {
        font-style: normal;
        line-height: 2;
      }

      .address {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .anchor:link,
      .anchor:visited {
        display: inline-block;
      }
    }

    &.--title-links {
      .links {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
}
