/* Properties and Global Reset ***********************************************/
:root {
  --main-color: #e67e22;
  --grey-color: #75726f;
  --border-radius: 0.5rem;
  --transition-duration: 200ms;
  --transition-function: ease;
  --shadow-xs: 0 0 0.25rem 0 rgba(0, 0, 0, 0.125);
  --shadow-s: 0 0 0.5rem 0 rgba(0, 0, 0, 0.125);

  --main-color--tint90: #fdf2e9;
  --main-color--tint80: #fae5d3;
  --main-color--tint70: #f8d8bd;
  --main-color--tint60: #f5cba7;
  --main-color--tint50: #f3bf91;
  --main-color--tint40: #f0b27a;
  --main-color--tint30: #eea564;
  --main-color--tint20: #eb984e;
  --main-color--tint10: #e98b38;
  --main-color--shade10: #cf711f;
  --main-color--shade20: #b8651b;
  --main-color--shade30: #a15818;
  --main-color--shade40: #8a4c14;
  --main-color--shade50: #733f11;
  --main-color--shade60: #5c320e;
  --main-color--shade70: #45260a;
  --main-color--shade80: #2e1907;
  --main-color--shade90: #170d03;

  --grey-color--shade30: #52504e;
  --grey-color--shade40: #464443;
  --grey-color--shade50: #3b3938;

  --color-text: #333;
  --color-text--de-emphasized: #444;
  --hero-background: var(--main-color--tint90);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

body {
  font-size: 1em;
  font-family: 'Rubik';
  color: var(--color-text);
}

/* General Purpose Classes ***************************************************/
html {
  .max-width {
    max-width: 1280px;

    &.hero {
      max-width: 1440px;
    }
    &.navbar {
      max-width: 1920px;
    }
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .ul {
    list-style: none;
  }

  .button {
    border: unset;
    font-size: inherit;
    color: inherit;
    background: unset;
  }

  .anchor:link,
  .anchor:visited {
    display: inline-block;
    text-decoration: none;
    color: unset;
  }

  .clickable {
    font-family: inherit;
    line-height: inherit;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-function),
      background var(--transition-duration) var(--transition-function);
  }

  .image {
    display: block;
  }
}

/* Sections ******************************************************************/
html {
  .navbar-container {
    font-size: 1rem;
    padding: 1rem 2rem;
    background: var(--hero-background);
  }

  .hero-container {
    font-size: 1rem;
    background: var(--hero-background);
    padding: 2rem 2rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }

  .featured-in-container {
    font-size: 1rem;
    margin-bottom: 8rem;
  }

  .how-it-works-container {
    font-size: 1rem;
    padding: 0 4rem;
  }
}

/* Navbar Component **********************************************************/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 1.5em;
  }

  .button-container {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 1em;

    .button,
    .anchor {
      font-weight: 600;
      text-transform: capitalize;
      padding: 0.75em 1.5em;
      margin-left: 0.5em;
      color: #fff;
      background: var(--main-color);
      box-shadow: var(--shadow-xs);

      &:hover,
      &:focus,
      &:active {
        background: var(--main-color--tint10);
      }

      &.--de-emphasized {
        font-weight: 600;
        padding: 0.25em;
        margin-left: unset;
        color: var(--color-text);
        background: unset;
        box-shadow: unset;

        &:hover,
        &:focus,
        &:active {
          color: var(--main-color--shade10);
        }
      }
    }
  }
}

/* Hero Component ************************************************************/
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4em;

  .text-container {
    .headline {
      font-size: 3em;
      font-weight: 600;
      margin-bottom: 0.75em;
    }

    .description {
      font-size: 1.25em;
      line-height: 1.5;
      margin-bottom: 4em;
      color: var(--color-text);
    }

    .button-container {
      font-size: 1.5em;
      display: flex;
      gap: 1em;
      margin-bottom: 2em;

      .button {
        font-weight: 600;
        text-transform: capitalize;
        padding: 0.75em 1.5em;
        color: #fff;
        background: var(--main-color);
        box-shadow: var(--shadow-xs);

        &:hover,
        &:focus,
        &:active {
          background: var(--main-color--tint10);
        }

        &.--de-emphasized {
          color: #fdf2e9;
          background: var(--color-text);
          &:hover,
          &:focus,
          &:active {
            background: var(--color-text--de-emphasized);
          }
        }
      }
    }

    .statistic-container {
      font-size: 1.125em;
      display: flex;
      gap: 1em;
      align-items: center;

      .customer-container {
        font-size: 2.5em;
        display: flex;

        .customer {
          width: 1em;
          border-radius: 50%;
          border: solid max(2px, 0.0625em) var(--hero-background);
          margin-right: -0.5em;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .statistic {
        font-weight: 600;
        color: var(--color-text);

        .strong {
          font-weight: 600;
          color: var(--main-color--shade10);
        }
      }
    }
  }

  .image-container {
    .image {
      max-width: min(40em, 100%);
      margin-left: auto;
    }
  }
}

/* Featured In Component *****************************************************/
.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);

  .headline {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 1.5em;
  }

  .logo-container {
    font-size: 1.5em;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    gap: 1.25em;

    .logo {
      height: 1em;
      filter: grayscale(100%) brightness(0%) contrast(100%);
    }
  }
}

/* How It Works Component ****************************************************/
.how-it-works {
  .text-container {
    .description {
      font-size: 1.25em;
      font-weight: 600;
      margin-bottom: 1em;
    }

    .headline {
      font-size: 2.5em;
      font-weight: 600;
      margin-bottom: 2em;
    }
  }

  .step-container {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 8em;

    .step {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .text-container {
        align-self: center;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        .number {
          font-size: 6em;
          font-weight: 600;
          margin-bottom: 0.25em;
        }
        .headline {
          font-size: 2em;
          font-weight: 600;
          margin-bottom: 1em;
        }
        .description {
          font-size: 1.25em;
          line-height: 1.5;
          font-weight: 400;
        }
      }

      .image-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        .image {
          max-width: min(16em, 100%);
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.--reversed {
        .text-container {
          grid-column: 2 / 3;
        }

        .image-container {
          grid-column: 1 / 2;
        }
      }
    }
  }
}
