/* Properties and Global Reset ***********************************************/
:root {
  --main-color: #e67e22;
  --grey-color: #75726f;
  --border-radius: 0.5rem;
  --shadow-xs: 0 0 0.25rem 0 rgba(0, 0, 0, 0.125);
  --shadow-s: 0 0 0.5rem 0 rgba(0, 0, 0, 0.125);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

body {
  color: #3b3938;
}

/* Header ********************************************************************/
.header {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background: #fdf2e9;
}

/* Hero Component ************************************************************/
.hero {
  font-size: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  .text-container {
    display: flex;
    flex-direction: column;

    .heading {
      font-size: 2.5rem;
      font-weight: 700;
      max-width: 20ch;
      margin-bottom: 1em;
    }

    .description {
      font-size: 1rem;
      line-height: 1.5em;
      margin-bottom: 2em;
    }

    .button-container {
      display: flex;
      gap: 1em;
      margin-bottom: 3rem;

      .button {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.75em 1.5em;
        border: unset;
        border-radius: var(--border-radius);
        cursor: pointer;
        color: #fff;
        background: #e67e22;
        box-shadow: var(--shadow-xs);
        transition: background 0.2s ease;

        &:hover,
        &:focus {
          background: #e98b38;
        }

        &.--de-emphasized {
          color: #fdf2e9;
          background: #3b3938;
          &:hover,
          &:focus {
            background: #464443;
          }
        }
      }
    }

    .statistic-container {
      display: flex;
      align-items: center;
      gap: 1em;

      .customer-container {
        display: flex;

        .customer {
          width: 3em;
          border-radius: 3em;
          margin-right: -1.5em;
          border: solid 2px #fdf2e9;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .statistic {
        font-weight: 600;

        .strong {
          font-weight: 700;
          color: #cf711f;
        }
      }
    }
  }

  .image-container {
    .image {
      display: block;
      width: 100%;
    }
  }
}
