/* Properties and Global Reset ***********************************************/
:root {
  --main-color: #e67e22;
  --grey-color: #75726f;
  --border-radius: 0.5rem;
  --transition-duration: 200ms;
  --transition-function: ease;
  --shadow-xs: 0 0 0.25rem 0 rgba(0, 0, 0, 0.125);
  --shadow-s: 0 0 0.5rem 0 rgba(0, 0, 0, 0.125);

  --main-color--tint90: #fdf2e9;
  --main-color--tint10: #e98b38;
  --main-color--shade10: #cf711f;

  --grey-color--shade30: #52504e;
  --grey-color--shade40: #464443;
  --grey-color--shade50: #3b3938;

  --color-text: var(--grey-color--shade50);
  --color-text--de-emphasized: var(--grey-color--shade40);
  --color-text--de-emphasized-2: var(--grey-color--shade30);
  --hero-background: var(--main-color--tint90);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

body {
  font-family: 'Rubik';
  color: var(--color-text);
}

/* General Classes ***********************************************************/
html {
  .max-width {
    max-width: 1280px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .clickable {
    font-family: inherit;
    line-height: inherit;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-function),
      background var(--transition-duration) var(--transition-function);
  }

  .button {
    border: unset;
    font-size: inherit;
    color: inherit;
    background: unset;
  }

  .anchor:link,
  .anchor:visited {
    display: block;
    text-decoration: none;
    color: unset;
  }

  .image {
    display: block;
    width: 100%;
  }

  .ul {
    list-style: none;
  }
}

/* Sections ******************************************************************/
html {
  .body-header-container {
    background: var(--hero-background);
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    background: var(--hero-background);
  }
}

/* Nav Component *************************************************************/
.body-header-container {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;

  .logo {
    height: 1.5em;
  }

  .button-container {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 2em;

    .button,
    .anchor {
      font-size: 1.125em;
      font-weight: 700;
      text-transform: capitalize;
      padding: 0.75em 1.5em;
      margin-left: 0.5em;
      color: #fff;
      background: var(--main-color);
      box-shadow: var(--shadow-xs);

      &:hover,
      &:focus,
      &:active {
        background: var(--main-color--tint10);
      }

      &.--de-emphasized {
        font-weight: 500;
        padding: 0.25em;
        margin-left: unset;
        color: var(--color-text);
        background: unset;
        box-shadow: unset;

        &:hover,
        &:focus,
        &:active {
          color: var(--main-color--shade10);
        }
      }
    }
  }
}

/* Hero Component ************************************************************/
.hero {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 2em;
  gap: 4em;

  .text-container {
    display: flex;
    flex-direction: column;

    .heading {
      font-size: 3em;
      font-weight: 700;
      max-width: 20ch;
      margin-bottom: 0.625em;
    }

    .description {
      font-size: 1.25em;
      line-height: 1.5em;
      margin-bottom: 2em;
      color: var(--color-text--de-emphasized);
    }

    .button-container {
      font-size: 1em;
      display: flex;
      gap: 1em;
      margin-bottom: 4em;

      .button {
        font-size: 1.25em;
        font-weight: 700;
        text-transform: capitalize;
        padding: 0.75em 1.5em;
        color: #fff;
        background: var(--main-color);
        box-shadow: var(--shadow-xs);

        &:hover,
        &:focus,
        &:active {
          background: var(--main-color--tint10);
        }

        &.--de-emphasized {
          color: #fdf2e9;
          background: var(--color-text--de-emphasized);
          &:hover,
          &:focus,
          &:active {
            background: var(--color-text--de-emphasized-2);
          }
        }
      }
    }

    .statistic-container {
      font-size: 1em;
      display: flex;
      gap: 1em;
      align-items: center;

      .customer-container {
        display: flex;

        .customer {
          width: 3em;
          border-radius: 3em;
          border: solid max(2px, 0.125em) var(--hero-background);
          margin-right: -1em;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .statistic {
        font-size: 1.125em;
        font-weight: 600;
        color: var(--color-text--de-emphasized);

        .strong {
          font-weight: 700;
          color: var(--main-color--shade10);
        }
      }
    }
  }
}
